<div class="user-profile">
  <div class=""></div>
  <div class="display-avatar">
    <a>
      <img
        class="profile-img"
        src="https://AjCapo90.github.io/coachupper/assets/images/cristina_profile.png"
        alt="profile image"
      />
    </a>
  </div>
  <div class="info-wrapper">
    <a><strong class="user-name">Cristina D'Alonzo</strong></a>
    <p>Life Coach / Business / Corporate &amp; Career Coach</p>
    <span>
      <mat-icon aria-label="" class="material-symbols-outlined"
        >location_on</mat-icon
      >
      &nbsp;Italia
    </span>
  </div>
</div>
