<div class="welcome">
  <h2>Coach Dashboard</h2>
  <p>Benventua, Cristina!</p>
</div>
<div class="wrapper">
  <div class="checklist">
    <h4>
      Completa la checklist per migliorare la tua esperienza in CoachUpper
    </h4>
    <ul>
      <li>Completa le informazioni personali</li>
      <li>Carica la tua foto profilo</li>
      <li>Fornisci le tue informazioni lavorative</li>
    </ul>
  </div>
  <div class="coachees">
    <h4>Coachees</h4>
    <p>3</p>
  </div>
  <div class="completed-session">
    <h4>Sessioni completate</h4>
    <p>12</p>
  </div>
  <div class="hours-session">
    <h4>Totale ore sessioni</h4>
    <p>48</p>
  </div>
  <div class="unpaid-invoices">
    <h4>Fatture non pagate</h4>
    <p>2</p>
  </div>
  <div class="active-coachees">
    <h4>Sessione attive più recenti</h4>
    <p>Nessun dato disponibile</p>
  </div>
  <div class="activity-log">
    <h4>Registro attività</h4>
    <p>Nessun dato disponibile</p>
  </div>
  <div class="quick-session">
    <h4>Inizia una sessione</h4>
    <button>Inizia</button>
  </div>
  <div class="attended-session">
    <h4>Sessioni frequentate più recenti</h4>
    <p>Nessun dato disponibile</p>
  </div>
  <div class="coach-rating">
    <h4>Coach rating</h4>
    <p>5</p>
  </div>
  <div class="upcoming-appointments">
    <h4>Prossimi appuntamenti</h4>
    <p>Inserisci un calendario..</p>
  </div>
  <div class="assigned-assessments">
    <h4>Valutazioni assegnate</h4>
    <p>Nessuna valutazione pendente trovata.</p>
  </div>
</div>
